{% load staticfiles %}
    <!--[if lt IE 9]>
        <script src="{% static 'bower_components/respond/dest/respond.min.js' %}"></script>
        <script src="{% static 'bower_components/Flot/excanvas.min.js' %}"></script>
        <script src="{% static 'bower_components/jquery-1.x/dist/jquery.min.js' %}"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js'%}"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/blockUI/jquery.blockUI.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/iCheck/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/jquery.cookie/jquery.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/sweetalert/dist/sweetalert.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'assets/js/min/main.min.js' %}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="{% static 'bower_components/Flot/jquery.flot.js' %}"></script>
    <script src="{% static 'bower_components/Flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'bower_components/Flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'assets/plugin/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js' %}"></script>
    <script src="{% static 'bower_components/moment/min/moment.min.js' %}"></script>
    <script src="{% static 'bower_components/fullcalendar/dist/fullcalendar.min.js' %}"></script>
    <script src="{% static 'assets/js/min/index.min.js"></script>

    <script>
        jQuery(document).ready(function() {
            Main.init();
            Index.init();
        });
    </script>